<div class="modal fade" id="educationModal" tabindex="-1" aria-labelledby="experienceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Educación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
            <form [formGroup]="newEducation" (ngSubmit)="saveEducation()" id="formEducation">
            
            <ng-container formArrayName="item" *ngFor="let field of formItemsGroup$ | async; let i = index">
              <div class="form-input mt-3" [formGroupName] = "i">
                <label>{{field.value.key}}</label>
                <input *ngIf="field.value.key !== 'Imagen'; else inputFile" class="form-control m-2" formControlName="value" type="text">
                <ng-template #inputFile><input (change)="captureFile($event)" class="form-control m-2" formControlName="value" type="file"></ng-template>
              </div>
            </ng-container>

  
            <div class="modal-footer mt-5">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-success">Guardar Cambios</button>
            </div>
  
          </form>
          

        </div>
      </div>
    </div>
  </div>
  