.banner{
    max-width: 1800px;
    margin: 0 auto;
}

img.banner-img{
    width: 100%;
    height: 160px;
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    img.banner-img{
        height: 224px;
    }
}

@media screen and (min-width: 1200px) {
    img.banner-img{
        height: 300px;
    }
}

.edit-portada{
    bottom: 20px;
    right: 20px;
    background-color: #e4e6eb;
    height:36px;
    width: 36px;
    cursor: pointer;
    transition: all .2s linear;
    z-index: 10;
}

.edit-portada:hover{
    background-color: #ccced1;
}

/****** MODO OSCURO **********/
.active-dark .edit-portada{ background-color: var(--black-light-color); }
.active-dark .edit-portada:hover{ background-color: var(--dt-darker); }