<section class="card mt-4" id="skills" [ngClass]="{'active-dark': isDark}">
    <div class="card-body">
      <h3 class="card-title">Skills <button type="button" class="btn btn-outline-success btn-sm ms-3 edit">Añadir skills</button></h3>
        <div class="content-skills m-lg-4">
        <div class="progress mt-4" style="height: 24px;">
          <div class="progress-bar align-items-start ps-3 bg-success" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">HTML</div>
          <span class="porcentaje position-absolute">90%</span>
        </div>
        <div class="progress mt-3" style="height: 24px;">
          <div class="progress-bar align-items-start ps-3 bg-success" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">CSS</div>
          <span class="porcentaje position-absolute">80%</span>
        </div>
        <div class="progress mt-3" style="height: 24px;">
          <div class="progress-bar align-items-start ps-3 bg-success" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">JavaScript</div>
          <span class="porcentaje position-absolute">70%</span>
        </div>
        <div class="progress mt-3" style="height: 24px;">
          <div class="progress-bar align-items-start ps-3 bg-success" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Git</div>
          <span class="porcentaje position-absolute">60%</span>
        </div>
        <div class="progress mt-3" style="height: 24px;">
          <div class="progress-bar align-items-start ps-3 bg-success" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Bootstrap</div>
          <span class="porcentaje position-absolute">70%</span>
        </div>
        <div class="progress mt-3" style="height: 24px;">
          <div class="progress-bar align-items-start ps-3 bg-success" role="progressbar" style="width: 20%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">MySQL</div>
          <span class="porcentaje position-absolute">20%</span>
        </div>
        </div>
    </div>
  </section>