<section class="card mt-4" id="skills" [ngClass]="{'active-dark': isDark}">
  <div class="card-body" [ngClass]="{'editSkills': isLogged}">
    <h3 class="card-title">Skills<button *ngIf="isLogged" type="button" class="btn btn-outline-success btn-sm ms-3 edit" data-bs-toggle="modal" data-bs-target="#skillsModal" (click)="add()">Añadir Skills</button></h3>
    <div class="content-skills m-lg-4">
      <div *ngFor="let item of data" class="progress mt-4" style="height: 24px;">
        <div class="progress-bar align-items-start ps-3 bg-success" role="progressbar" [ngStyle]="{'width': item.progress + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"> {{item.technology}}</div>
        <span class="porcentaje position-absolute">{{item.progress}}%</span>
        <span *ngIf="isLogged" class="position-absolute btnEditSkill">
          <div class="dropdown edit">
            <button class="btn float-end" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#" (click)="edit(item.id_ski)" data-bs-toggle="modal" data-bs-target="#skillsModal"><i class="fa-solid fa-pen-to-square"></i> Editar</a></li>
              <li><a class="dropdown-item" href="#" (click)="delete(item.id_ski)"><i class="fa-solid fa-trash"></i> Eliminar</a></li>
            </ul>
          </div>
        </span>
      </div>
    </div>
  </div>
  <app-modal></app-modal>
</section>