<header>
    <nav class="navbar main-nav-bar navbar-expand-md navbar-light bg-light fixed-top border-bottom">
        <div class="container-xl">
          <a class="navbar-brand" href="#"><img src="./assets/Logo-black.png" alt="Logo Argentina Programa" height="32px" class="logo"></a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav me-auto mb-2 mb-md-0 mb-lg-0">
              <li class="nav-item d-xl-none">
                <a class="nav-link active" aria-current="page" href="#experiencia">Experiencia</a>
              </li>

              <li class="nav-item d-xl-none">
                <a class="nav-link" href="#educacion">Educación</a>
              </li>

              <li class="nav-item d-xl-none">
                <a class="nav-link" href="#skills">Skills</a>
              </li>
             

              <li class="nav-item d-xl-none">
                <a class="nav-link" href="#proyectos">Proyectos</a>
              </li>
            </ul>
            
            <div class="d-flex align-items-center">
                <button class="btn btn-switch bg-white rounded-pill p-0 border position-relative cursor-pointer d-flex text-secondary me-4" id="btn-switch">
                    <span class="d-flex justify-content-center align-items-center" style="width: 30px; height: 30px"><i class="fa-solid fa-sun" ></i></span>
                    <span class="d-flex justify-content-center align-items-center" style="width: 30px; height: 30px"><i class="fa-solid fa-moon"></i></span>
                </button>
                <button class="btn btn-success" type="submit">Iniciar sesion</button>
            </div>
            
          
          </div>
        </div>
      </nav>

</header>
