<app-header></app-header>
<app-banner [cover]="cover"></app-banner>
<main>
    <section class="container">
        <div class="row mt-4">
            <div class="col-12 col-xl-4 column-perfil">
                <app-profile [data]="profile" [contacts]="contacts"></app-profile>
            </div>
            <div class="col-12 col-xl-6">
                <app-experience [data]="experience" ></app-experience>
                <app-education [data]="education"></app-education>
                <app-skills [data]="skills"></app-skills>
                <app-proyects [data]="projects"></app-proyects>
            </div>
            <div class="col-12 col-xl-2">
                <app-nav-column></app-nav-column>
            </div>
        </div>
    </section>
    
</main>