<div class="modal fade" id="experienceModal" tabindex="-1" aria-labelledby="experienceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Experiencia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="newExperience" (ngSubmit)="saveExperience()">
          
          <ng-container formArrayName="item" *ngFor="let field of getItems(); let i = index">
            <div class="form-input mt-3" [formGroupName] = "i">
              <label>{{field.value.key}}</label>
              <input class="form-control m-2" formControlName="value" type="text">
            </div>
          </ng-container>

          <div class="form-input mt-3">
            <label for="InputImg">Imagen</label>
            <input formControlName="image" type="file" class="form-control mt-2" id="InputImg">
          </div>

          <div class="modal-footer mt-5">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-success">Guardar Cambios</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
