<ul class="nav nav-column flex-column sticky-top d-none d-xl-block" [ngClass]="{'active-dark': isDark}">
    <li class="nav-item">
      <a class="nav-link text-body active" aria-current="page" href="#experiencia">Experiencia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-body" href="#educacion">Educación</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-body" href="#skills">Skills</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-body" href="#proyectos">Proyectos</a>
    </li>
</ul>