<section class="card mt-4 mt-xl-2" id="experiencia" [ngClass]="{'active-dark':isDark}">
    <div class="card-body">
        <h3 class="card-title d-flex "> Experiencia
            <button *ngIf="isLogged" type="button" class="btn btn-outline-success btn-sm ms-3 edit" data-bs-toggle="modal" data-bs-target="#newExperienceModal">Añadir experiencia</button>
        </h3> 
        <app-experience-item [isDark]="isDark" *ngFor="let item of data" [data]="item" [img]="item.image" [_id]="item._id"></app-experience-item>
    </div>
    
    <app-edit-experience></app-edit-experience>
    <app-new-experience></app-new-experience>

</section>


