<div class="modal fade" id="educationEditModal" tabindex="-1" aria-labelledby="educationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Actualizar Educación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editEducation" (ngSubmit)="saveEditEducation()">

          <div class="form-group mt-3">
            <label for="inputSchool" class="form-label">Escuela/Instituto</label>
            <input formControlName="school" type="text" class="form-control" id="inputSchool" placeholder="">
          </div>
          
          <div class="form-group mt-3">
            <label for="inputTitle" class="form-label">Titulo/Certificado</label>
            <input formControlName="title" type="text" class="form-control" id="inputTitle">
          </div>

          <div class="form-group mt-3">
            <label for="inputPeriod" class="form-label">Periodo Cursado</label>
            <input formControlName="period" type="text" class="form-control" id="inputPeriod">
          </div>


          <div class="form-group mt-4">
            <label for="inputImage" class="form-label">Imagen</label>
            <img *ngIf="imageUrl === ''; else image" class="imgNotFount" src="./assets/faltaImagen.jpg" alt="Image Review" height="80%" width="20%" style="object-fit: cover;">
            <ng-template #image><img  [src]="imageUrl" alt="Image Review" height="80%" width="20%" style="object-fit: cover;"></ng-template>
            <div class="btnFile">
              Añadir Imagen
            <input (change)="captureFile($event)" formControlName="image" type="file" class="form-file" id="inputImage">
            </div>
          </div>

          <div class="modal-footer mt-5">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button [disabled]="editEducation.invalid" type="submit" class="btn btn-success">Guardar Cambios</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>