
    <div class="row sticky-container" id="fixed">
      <div class="ajuste"></div>
      <div class="sticky">
        <div class="col-12">
          <div class="card flex-column ms-md-4 ms-xl-0 flex-md-row flex-xl-column align-items-center align-items-md-start align-items-xl-center border-0 bg-transparent"> 
            <div class="img position-relative">
              <img src="./assets/Perfil.jpg" class="img-responsive rounded-circle perfil-img border border-5 mt-xl-4 ms-xl-auto me-xl-auto"alt="Foto de Perfil img-fluid">
              <div class="edit position-absolute d-flex justify-content-center align-items-center rounded-circle p-3"><i class="fa-solid fa-camera"></i></div>
            </div>

          <div class="perfil-info ">
            <div class="border-0 banner-bottom-card">
              <div class="card-body pt-0 pb-0 pt-md-3 pb-md-3 text-center text-md-start text-xl-center">
                  <h2 class="card-title mt-md-3 mt-xl-0">Elsio Eloy Ayala</h2>
                  <p class="card-subtitle">Desarrollador Full Stack Jr.</p>
                  <div class="perfil-contacto fs-5 mt-2 mb-3">
                    <span><i class="fa-solid fa-envelope pe-2"></i></span>
                    <span><i class="fa-brands fa-github pe-2"></i></span>
                    <span><i class="fa-brands fa-twitter pe-2"></i></span>
                    <span><i class="fa-brands fa-linkedin"></i></span>
                  </div>
                  <div class="edit-perfil"><button type="button" class="btn btn-outline-success btn-sm"><i class="fa-solid fa-pen"></i> Editar perfil</button></div>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="col-12">
          <app-about></app-about>
        </div>
      </div>
      <div class="ajuste2"></div>
    </div>

