.perfil-img{
    width: 128px;
    height: 128px;
    object-fit:cover;
    border-color: #F0F2F5 !important;
}

.perfil-contacto{
    cursor:pointer;
}
.perfil-contacto span:hover{
    color: black;
}

.column-perfil .card{
    margin-top: -85px;
}

@media screen and (min-width: 768px){
    .column-perfil .card{
        margin-top: -45px;
    }
    .perfil-img{
        width: 148px;
        height: 148px;
    }
}

@media screen and (min-width: 1200px) {
    .perfil-img{
        /*width:  128px;
        height: 128px;*/
        border: none !important;
    }
    .column-perfil .card{
        background-color: white !important;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
        margin-top: -160px;
    }
}