.active-dark.card {
    background-color: var(--dt-background) !important;
}
.active-dark .card-title {
	color: var(--title-color);
}

.card{
    border: none;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}