<div class="card mt-4" [ngClass]="{'active-dark': isDark}">
    <div class="card-body">
      <h3 class="card-title">Acerca de <button type="button" class="btn btn-outline-success btn-sm edit-presentacion ms-3 edit">Editar presentación</button></h3>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>